spring:
  config:
    activate:
      on-profile: local
  data:
    redis:
      host: localhost
      port: 6379

logging:
  level:
    com.bs: DEBUG
    org:
      hibernate:
        SQL: DEBUG
      springframework:
        transaction:
          interceptor: trace
#        orm.jdbc.bind: TRACE